body {
    background-color: red;
  }
  
/**Smaller than 300px
@media only screen and (max-width: 300px) {
    body {
        background-color: red;
    }
}**/

/**Bigger than 300px and smaller than 768px**/
@media only screen and (min-width: 300px) {
    body {
        background-color: green;
    }
}

/**Bigger than 768px**/
@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
}