/**SMALL**/
  @media only screen and (max-width: 600px) {
    #small, #medium, #large {
        font-size: 10px;
    }
}

  @media only screen and (max-width: 768px) {
    #small, #medium, #large {
        font-size: 20px;
    }
}

  @media only screen and (min-width: 768px) {
    #small, #medium, #large {
        font-size: 30px;
    }
}